@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* GENERAL */
/* SEARCH */
/* BOX */
/* HEADER */
/* BOUTONS */
/* EXPLORER */
/* WORKING */
/* ENCADRE NOUVEAU */
/* FOOTER */
/* IMAGES MENU */
@keyframes reduction {
  from {
    margin-right: -30px;
  }
  to {
    margin-right: 0px;
  }
}
@keyframes rotate-i {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes apparition-accueil {
  from {
    transform: translateX(-5000px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes animation-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes remplissage-coeur {
  0% {
    color: #333;
  }
  50% {
    font-weight: bold;
    color: #9356DC;
    transform: scale(1.5);
  }
  100% {
    font-weight: bold;
    color: transparent;
    background: linear-gradient(60deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.accueil {
  transform: translateX(-5000px);
  animation: apparition-accueil 4000ms 1500ms ease-out forwards;
  position: absolute;
  z-index: 1;
  justify-self: start;
  align-self: start;
}

.carte {
  position: absolute;
  justify-self: start;
  align-self: start;
}

.rond-chargement {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.rond-chargement:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: animation-chargement 1.2s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre-menu {
  font-family: "Shrikhand", cursive;
}

p {
  font-size: 17px;
  font-weight: 300;
}

a {
  color: #353535;
  text-decoration: none;
}

h1 {
  font-size: 23px;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 17px;
}

footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: white;
}

.search {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  background-color: #eaeaea;
  margin-left: 10px;
  color: #353535;
}
.search #search_label {
  font-family: "roboto", sans-serif;
  font-size: 17px;
  font-size: bold;
  width: 150px;
  overflow: hidden;
}
.search i {
  margin-left: 30px;
}

button {
  height: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #7b7e7d;
  color: white;
  font-size: 17px;
  position: relative;
  z-index: 1;
}
button a {
  color: white;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(170deg, #ff88de, #9b63df);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #6e7170;
}

.hearth {
  color: #333;
  font-size: 30px;
}
.hearth:hover {
  animation: remplissage-coeur 600ms ease-in-out forwards;
}

.map {
  color: #353535;
  /* Définit l'icone de la barre de recherche */
}

.icone-working {
  color: #7e7e7e;
  font-size: 20px;
}

.icone-footer {
  color: white;
  font-size: 15px;
  margin-top: 13px;
}

.souligne {
  display: inline-block;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 7px;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding-top: 10px;
  background-color: white;
  z-index: 1;
  position: relative;
  box-shadow: 1px 1px 10px #353535;
}
header img {
  object-fit: contain;
  width: 170px;
  height: 70px;
  margin: 0 auto;
}
header p {
  margin-left: 20px;
}

.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer p {
  color: #fff;
  margin-top: 10px;
}
.footer p:first-child {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
}
.footer__choice {
  display: flex;
}
.footer__choice a {
  font-weight: 400;
}
.footer__choice--icons {
  width: 35px;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.explorer h1 {
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}
.explorer p {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.working {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .working {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.working h2 {
  align-self: flex-start;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .working h2 {
    align-self: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .working h2 {
    width: 100%;
    text-align: center;
  }
}
.working__choice {
  width: 90%;
  background-color: #f6f6f6;
  margin-top: 20px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #7b7e7d;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .working__choice {
    width: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .working__choice {
    width: 500px;
    margin-right: 30px;
    margin-top: 20px;
    justify-content: center;
  }
}
.working__choice i {
  width: 20px;
  text-align: center;
  margin-left: 15px;
  margin-right: 25px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .working__choice i {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.working__choice h4 {
  width: 220px;
}
@media screen and (min-width: 1024px) {
  .working__choice h4 {
    width: 260px;
    text-align: center;
  }
}
.working__choice p {
  position: relative;
  left: -15px;
  width: 30px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: white;
  padding-top: 6px;
}
@media screen and (min-width: 1024px) {
  .working__choice p {
    left: -90px;
  }
}
.working__choice:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.working__choice:hover i {
  color: #9356DC;
  text-align: center;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .dispo-rest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .dispo-rest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.rest {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rest h2 {
  align-self: flex-start;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .rest h2 {
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .rest h2 {
    align-self: center;
  }
}
.rest__choice {
  width: 100%;
  height: 270px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #7b7e7d;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .rest__choice {
    width: 45%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .rest__choice {
    width: 30%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
.rest__choice--img {
  width: 100%;
  height: 180px;
  position: relative;
}
.rest__choice--img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.rest__choice--img .new {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #139273;
  border-radius: 3px;
}
.rest__choice--img .new p {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-top: 8px;
}
.rest__choice--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
.rest__choice--title .right {
  width: 35px;
  height: 35px;
}

.carte {
  position: absolute;
  background-color: #f6f6f6;
  /* IMAGE MENU */
  /* MENU */
}
.carte .carte__img {
  width: 100%;
  height: 300px;
}
.carte .carte__img img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.carte .carte__menu {
  position: relative;
  top: -40px;
  background-color: #f6f6f6;
  padding: 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
}
.carte .carte__menu--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .carte .carte__menu--title {
    justify-content: center;
  }
  .carte .carte__menu--title h1 {
    margin-right: 20px;
    font-size: 25px;
  }
}
.carte .carte__menu--choice {
  margin-top: 20px;
}
.carte .carte__menu--choice-plat {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .carte .carte__menu--choice-plat {
    align-items: center;
  }
}
.carte .carte__menu--choice p:first-child {
  font-weight: 500;
  color: #333;
}
@media screen and (min-width: 1024px) {
  .carte .carte__menu--choice p:first-child {
    text-align: center;
  }
}
.carte .carte__menu button {
  width: 50%;
  align-self: center;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .carte .carte__menu button {
    width: 250px;
  }
}

.encadre-choix {
  background-color: white;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  height: 65px;
  opacity: 0;
  box-shadow: 0.1px 0.1px 8px #7b7e7d;
  border-radius: 15px;
  animation: apparition-menu 1800ms ease-in-out forwards;
}
.encadre-choix--1 {
  animation-delay: 450ms;
}
.encadre-choix--2 {
  animation-delay: 900ms;
}
.encadre-choix--3 {
  animation-delay: 1350ms;
}
.encadre-choix--4 {
  animation-delay: 1800ms;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .encadre-choix {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .encadre-choix {
    width: 600px;
  }
}
.encadre-choix .right-hide {
  background-color: #99E2D0;
  width: 0;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.encadre-choix .right-hide i {
  font-weight: bold;
  color: white;
}
.encadre-choix:hover .right-hide {
  animation: checkbox-animation 500ms ease-in-out forwards;
  /* durée animation: 500 ms, ralenti en debut et fin d'animation, reste sur le 100% à la fin */
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .encadre-choix:hover .right-hide {
    animation: checkbox-animation-tablette 500ms ease-in-out forwards;
  }
}
@media screen and (min-width: 1024px) {
  .encadre-choix:hover .right-hide {
    animation: checkbox-animation-pc 500ms ease-in-out forwards;
  }
}
.encadre-choix:hover i {
  animation: rotate-i 500ms ease-in-out forwards;
}
.encadre-choix .right {
  width: 8%;
  margin-left: 10px;
}
.encadre-choix .left {
  width: 82%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.encadre-choix .left p, .encadre-choix .left h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.encadre-choix .left p {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
