.search{
    height: 50px;
    background-color: $bg-search;
    display: flex;
    justify-content: center;
    align-items:center;
    input{
        background-color: $bg-search;
        color: #353535;
        text-align:center;
        font-size: 15px;
    }
    #search_label{
        font-family : 'roboto', sans-serif;
        font-size: $search-txt-size;
        font-weight: 600;
        overflow:hidden;
    }
    i{
        position:relative;
        left: 30px;
    }
}