.hearth{ 
    color:#333;
    font-size : 30px;
    
    &:hover{
        -webkit-animation: remplissage-coeur 600ms ease-in-out forwards;
                animation: remplissage-coeur 600ms ease-in-out forwards;
    }
}
.map{
    color:#353535; /* Définit l'icone de la barre de recherche */
}

.icone-working{
    color: #7e7e7e;
    font-size: 20px;
}

.icone-footer{
    color :white; 
    font-size: 15px;
    margin-top: 13px;
}