/* BARRE RECHERCHE */

.search{
    height: 50px;
    background-color: $bg-search;
    display: flex;
    justify-content: center;
    align-items:center;
    & input{
        background-color: $bg-search;
        margin-left: 10px;
        color: #353535;
    }
    & #search_label{
        font-family : 'roboto', sans-serif;
        font-size: $search-txt-size;
        font-size: bold;
        width: 150px;
        overflow:hidden;
    }
    & i{
        margin-left: 30px;
    }
}

/* BOUTONS */

button{
    height: $height-button;
    background-image:linear-gradient(170deg,$color-secondary, $color-primary);
    margin-top: 30px;
    padding-right: 20px;
    padding-left:20px;
    @include border-radius-size(30px);
    color: $color-txt-button;
    font-size: $size-paragraphe;
}

/* ICONE COEUR */

.hearth{   
    color:#333;
    font-size : 25px;
    &:hover{
        font-weight: bold;
        color: $color-primary;
    }
}
.map{
    color:#353535; /* Définit l'icone de la barre de recherche */
}

.icone-working{
    color: #7e7e7e;
    font-size: 20px;
}

.icone-footer{
    color :white; 
    font-size: 15px;
    margin-top: 13px;
}

/* SOULIGNEMENT TITRE */

.souligne{
    display:inline-block;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom:7px;
}