

*{
    margin: 0;
    padding: 0;
    border: 0; 
}

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.titre-menu{
    font-family: 'Shrikhand', cursive;
}

p{
    font-size: $size-paragraphe;
    font-weight: 300;
}

