.carte{
    position :absolute;
    background-color: $bg-explorer;

    /* IMAGE MENU */

    .carte__img{
        width: 100%;
        height: $img-menu-height;
        @include img-menu;
    }

    /* MENU */ 

    .carte__menu{
        position:relative;
        top: -40px;
        background-color : $bg-explorer;
        padding: 20px;
        @include border-radius-top(40px);
        display: flex;
        flex-direction: column;
        &--title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 10px;
            margin-bottom: 30px;
            @include pc{
                justify-content: center;
                h1{
                    margin-right: 20px;
                    font-size: 25px;
                }
            }
        }
        &--choice{
            margin-top: 20px;
            &-plat{
            width: 100%;
            display:flex;
            flex-direction: column;
            margin-bottom: 30px;
            margin-top: 20px;
            @include pc{
                align-items: center;
            }
            }
            p:first-child{
                font-weight:500;
                color: #333;
                @include pc{
                    text-align: center;
                }
            }
        }
        button{
            width: 50%;
            align-self: center;
            margin-top:20px;
            @include pc{
                width: 250px;
            }
        }
    }
    
}

.encadre-choix{
    background-color: white;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    opacity: 0;
    overflow: hidden;
    @include box_shadow-size($box-shadow:0.1px, $radius:8px);
    @include border-radius-size(15px);
    -webkit-animation: apparition-menu $anim-dur ease-in-out forwards;
            animation: apparition-menu $anim-dur ease-in-out forwards;
    @for $i from 1 through $num-menu{
        &--#{$i}{
            -webkit-animation-delay: $anim-delay * $i;
                    animation-delay: $anim-delay * $i;
        }
    }
    @include tablette{
        width:80%;
        margin: 0 auto;
        margin-top: 15px;
    }

    @include pc{
        width: 600px;
    }
    .left{
        display:flex;
        flex-direction: column;
        width : 80%;
        margin-left: 10px;
        margin-right: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        p,h3{
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            font-size: 14px;
        }
        
    }

    .right{
        display: flex;
        transform: translateX(10px);

    }
    
    .right-hide{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:$color-tertiary;
        width: 30px;
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translateX(60px);
        i{
            font-weight: bold;
            color: white;
        }
        @include tablette{
            width: 40px;
        }
        @include pc{
            width: 50px;
        }
    }
    &:hover .right-hide{
        -webkit-animation: checkbox-animation 500ms ease-in-out forwards ;
                animation: checkbox-animation 500ms ease-in-out forwards ; /* durée animation: 500 ms, ralenti en debut et fin d'animation, reste sur le 100% à la fin */
    }
    &:hover i{
        -webkit-animation: rotate-i 500ms ease-in-out forwards;
                animation: rotate-i 500ms ease-in-out forwards;
    }

    &:hover .right{
        -webkit-animation: prix-animation 500ms ease-in-out forwards ;
                animation: prix-animation 500ms ease-in-out forwards ;
    }

    &:hover .left{
        -webkit-animation: titre-plat-animation  forwards ;
                animation: titre-plat-animation  forwards ;
    }

    
}