.accueil{
    
    transform: translateX(-5000px);
    animation: apparition-accueil 4000ms 1500ms ease-out forwards;
    position: absolute;
    z-index: 1;
    justify-self: start;
    align-self: start;
}

.carte{
    position: absolute;
    justify-self: start;
    align-self: start;
}


.rond-chargement{
    display: inline-block;
    width: 80px;
    height: 80px;
    &:after {
        content: " ";
        display: block;
        width: 44px;
        height: 44px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: $color-primary transparent $color-secondary transparent;
        animation: animation-chargement 1.2s linear infinite;
      }
}

