@keyframes checkbox-animation{
    from{
        width: 0;
    }

    to{
        width: 30px;
    }
}

@keyframes checkbox-animation-tablette{
    from{
        width: 0;
    }

    to{
        width: 80px;
    }
}

@keyframes checkbox-animation-pc{
    from{
        width: 0;
    }

    to{
        width: 100px;
    }
}

@keyframes rotate-i{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes apparition-accueil{
    from{
        transform: translateX(-5000px);
    }

    to{
        transform: translateX(0px);
    }
}

@keyframes animation-chargement{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes apparition-menu{
    0%{
        opacity: 0;
        
    }

    100%{
        opacity: 1;

    }
}

@keyframes remplissage-coeur{
    0%{
        color : #333;
    }

    50%{
        font-weight:bold;
        color: $color-primary;
        transform: scale(1.5);
    }
    100%{
        font-weight: bold;
        color:transparent;
        background:linear-gradient(60deg, $color-primary,$color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
