/* GENERAL */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$size-paragraphe: 17px;
$size-h1 : 23px;
$weight-h1: 600;
$size-h3: 18px;
$weight-h3: 600;

/* SEARCH */

$bg-search : #eaeaea;
$search-txt-size : 17px; 

/* BOX */
$box-shadow-size: 2px;
$radius-size:10px;
$box-shadow-color: #7b7e7d;

$border-radius-size: 20px;

/* HEADER */

$width-logo: 170px;
$height-logo : 70px;   

        

/* BOUTONS */

$height-button: 50px;               
$color-txt-button: white;         

/* EXPLORER */

$bg-explorer: #f6f6f6;

/* WORKING */

$bg-working-choice: #f6f6f6; 

/* ENCADRE NOUVEAU */

$bg-new: #99E2D0;
$color-new: #139273;

/* FOOTER */

$bg-footer: #353535;

/* IMAGES MENU */

$img-menu-height: 300px;