/* GENERAL */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$size-paragraphe: 17px;

$box-shadow-size: 1px;
$radius-size:10px;
$box-shadow-color: #333;

$border-radius-size: 20px;

/* HEADER */

$width-logo: 170px;
$height-logo : 70px;               
/* SEARCH */

$bg-search : #eaeaea;
$search-txt-size : 17px;         

/* BOUTONS */

$height-button: 50px;               
$color-txt-button: white;         

/* EXPLORER */

$bg-explorer: #f6f6f6;

/* WORKING */

$bg-working-choice: #f6f6f6; 

/* ENCADRE NOUVEAU */

$bg-new: #99E2D0;
$color-new: #139273;

/* FOOTER */

$bg-footer: #353535;